.full_player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  background-color: var(--color-background-80);
  backdrop-filter: blur(15px);

  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info {
    display: flex;
    overflow-x: auto; /* Позволяет прокручивать по горизонтали */
    overflow-y: hidden;
    scroll-snap-type: x mandatory; /* Включает snap для горизонтальной прокрутки */
    scroll-behavior: smooth; /* Плавная прокрутка */
    width: 100%; /* Ширина карусели */
    height: 100%;
    scrollbar-width: none;

    & > * {
      min-width: 100%; /* Каждый элемент занимает 100% ширины контейнера */
      scroll-snap-align: start; /* Выравнивание слайда по началу */
    }
  }
  .actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }
}
