.player_fragment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .poster {
    width: 90%;
    border-radius: 16px;
  }

  .subinfo {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .name {
      display: flex;
      gap: 12px;
      flex-direction: column;

      .title {
        font-size: 24px;
        font-weight: 600;
      }

      .artist {
        font-size: 16px;
        color: var(--color-subtext);
      }
    }
  }
}

.progress_bar {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding: 8px 0px;

  .percent {
    width: 0%;
    height: 4px;
    background-color: var(--color-primary);
    border-radius: 8px;
  }

  .progress_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-subtext);
    font-size: 15px;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left,
  .right,
  .center {
    display: flex;
    gap: 12px;
  }
}

@media screen and (min-width: 600px) {
  .player_fragment {
    .poster {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1000px) {
  .player_fragment {
    .poster {
      width: 30%;
    }
  }
}
