.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  color: inherit;
  background-color: var(--color-secondary);
  padding: 12px 12px;
  transition: background-color 200ms;
  cursor: pointer;

  &:hover {
    background-color: var(--color-ternary);
  }

  &[data-variant="transparent"] {
    background-color: transparent;
  }
}
